<div class="container">
    <div class="row">
        <div class="mt-5">
            <div class="ml-5">
                <h1 class="text-center"> Employee Self-Service Application</h1>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
          </nav>
          
          <nav class="navbar navbar-dark bg-primary">
            <!-- Navbar content -->
          </nav>
          
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
          </nav>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
